.brand-blue {
    color: #3C3CA5;
}
.brand-blue-bg {
    background-color: #3C3CA5;
}
.border-brand-blue {
    border-color: #3C3CA5;
}

.brand-purple {
    color: #71439D;
}
.brand-purple-bg {
    background-color: #71439D;
}

.brand-green {
    color: #3CA5A5;
}
.brand-green-bg {
    background-color: #3CA5A5;
}

h1, h2, h3, h4 {
    font-family: 'Playfair Display SC', serif;
}

ul {
    list-style: disc;
    margin-left: 3rem;
}

ol {
    list-style: decimal;
    margin-left: 3rem;
}

.serif {
    font-family: 'Playfair Display SC', serif;
}

p {
    font-family: "Open Sans", sans-serif;
}

nav {
    font-family: "Open Sans", sans-serif;
}

nav a:hover {
    transform: scale(1.1);
}

main {
    /*  min-height: calc(100vh - 13.25rem); */
    min-height: 100vh;
}

#language-selector .active {
    text-decoration: underline;
}

.cloud-bg {
    background-image: url("../images/Cloud.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
}

.diagonal-hero {
    transform: skewX(-10deg) translateX(9vh);
}

.triangle {
    height: 0;
    width: 0;
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
    border-bottom: 2rem solid;
}

.rotate-left {
    transform-origin: bottom left;
    margin-top: 1.8rem;
    margin-left: 1rem;
    transform: rotate(-45deg);
}

.rotate-right {
    transform-origin: bottom left;
    margin-top: 1.8rem;
    margin-left: 1rem;
    transform: rotate(45deg);
}

.rotate-2xright {
    transform-origin: bottom left;
    margin-top: -1.8rem;
    margin-left: 0;
    transform: rotate(90deg);
}

.fadeout {
    animation: fadeout 500ms forwards;
}

@keyframes fadeout {
    100% {
        opacity: 0;
    }
}

.dashed-bg {
    background-image: url("../images/lg-circle-dashed.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


.gradient-overlay {
    background: linear-gradient(45deg, rgba(0,0,0,0.5), rgba(0,0,0,0));
}

.gradient-overlay:hover {
    opacity: 0;
}

.transition-1 {
    transition-duration: 1s;
}

#carousel {
    margin: auto;
    display: flex;
    align-items: flex-end;
}

.product-card {
    min-height: 20rem;
    height: auto;
}

form.boltforms {
    width: 80%;
    min-width: 12rem;
    padding: 2rem;
    background-color: white;

    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0.1) 0 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

#contact {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#contact > div {
    display: flex;
    flex-direction: column;
}

#contact > div > label {
    font-weight: 600;
    color: #3C3CA5;
}

#contact > div > input {
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-bottom-width: 2px;
    border-color: rgba(191, 219, 254, 1);
}

#contact button {
    background-color: #3C3CA5;
    color: white;
    padding: 0.5rem 1rem;
    width: 5rem;
    margin-left: auto;

}

#contact select {
    outline: solid 2px #cfe4fe;
}

#contact_needreply {
    width: 10rem;
}

.author-element {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.author-element img {
    border-radius: 50%;
}

.link:hover {
    opacity: 0.8;
}

.submenu-toggle {
    transition: 0.3s;
}

.submenu-toggle:hover {
    cursor: default;
}

.submenu-toggle.active {
    transform: rotate(-180deg);
}

.submenu {
    top: 1.5rem;
}

.submenu.hide {
    visibility: hidden;
}

.body-content {

    *:first-child {
        margin-top: 0;
    }

    h2 {
        font-size: 2rem;
        line-height: 2rem;
    }

    h3 {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    h4 { 
        font-size: 1.2rem;
    }

    h5 {
        font-size: 1rem;
        font-weight: bold;
    }

    h2, h3, h4, h5 {
        margin-top: 4rem;
        margin-bottom: 1.5rem;
    }

    h2 {
        margin-top: 5rem;
    }

    p {
        margin: 0.5rem 0;
    }

    a {
        color: #3C3CA5;
        text-decoration: underline;
    }

}

.hero-image-container {
    &::after {
        content: "";
        background-color: inherit;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: -50%;
        z-index: -1;
    }
}

.faded-container {
    &::before {
        content: "";
        width: 30%;
        height: 100%;
        position: absolute;
        background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
        top: 0;
        z-index: 30;
    }
}

a.active {
    transform: scale(1.1);
    text-decoration: underline;
}

#blog-entry {
    img {
        margin: 2rem auto;
    }

    h1, h2, h3, h4, h5 {
        margin: 2rem 0 1rem 0;
    }

    h2 {
        margin-top: 4rem;
    }

    ul, ol {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    p {
        margin: 1rem 0 1.5rem 0;
    }

    iframe {
        width: 100%;
    }

    .author-element {
        img {
            margin: 0;
        }

        p {
            margin: 0.5rem 0;
        }
    }
}