<section aria-label="contact section" class="px-8 sm:px-16 pt-16 pb-32 flex justify-center relative bg-white">
    <img class="hidden lg:block absolute right-0 h-full" src="{{ asset('images/dashed-cross.svg') }}" alt="">
    <div class="w-full max-w-screen-md m-auto relative">
        <h2 class="text-4xl relative text-center">{{ __('salve.contact.title') }}</h2>
        <p class=" mt-8 mb-16">
            {{ __('salve.contact.text') }}
        </p>
        <div id="contact-container" class="m-auto mt-16 max-w-screen-md flex flex-wrap justify-center gap-y-16">
            {{ boltform('contact') }}
        </div>
    </div>
</section>